*.version
src/redis_sd_spec_version.hrl
rel/pkg/*.gz
rel/pkg/*.tar
gproc_*
.eunit
ebin
db
deps
logs
*~
#*
.DS_Store
Mnesia.*
erl_crash.dump
*.beam
*.o
*.so
standalone.config
rel/redis_sd_spec
rel/redis_sd_spec.tar.bz2
/rebar
/doc/
/dev
/log
/rel/vars/dev*_vars.config
/.redis_sd_spec.plt
/.rebar-test